*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea
/main/.idea/workspace.xml
/*.iml
/lib/gxl-0.92-api
/lib/gxl-0.92-src
/GXLDocument.gxl
/lib/gxl-0.92/ChangeLog
/lib/gxl-0.92/LICENSE
/lib/gxl-0.92/README
/lib/gxl-0.92/TODO
/lib/gxl-0.92/WHATSNEW
/target
