/OpenGL/OpenGLTutorial1/Debug/*.obj
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.Build.CppClean.log
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.log
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.tlog/CL.read.1.tlog
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.tlog/CL.write.1.tlog
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.tlog/OpenGLTutorial1.lastbuildstate
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.tlog/cl.command.1.tlog
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.tlog/link.command.1.tlog
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.tlog/link.read.1.tlog
/OpenGL/OpenGLTutorial1/Debug/OpenGLTutorial1.tlog/link.write.1.tlog
/OpenGL/OpenGLTutorial1/Debug/vc120.idb
/OpenGL/OpenGLTutorial1/Debug/vc120.pdb
/OpenGL/OpenGLTutorial1/OpenGLTutorial1.vcxproj
/OpenGL/OpenGLTutorial1/OpenGLTutorial1.vcxproj.filters
/tower-defence/.settings/*.prefs
/tower-defence
/OpenGL/Blender/*.blend
